* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FEF1F1;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #B2ABAB;
    padding: 20px;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}

#mainmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B2ABAB;
    padding: 20px;
    ;
}

#mainmenu ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

#mainmenu a {
    color:#060A0A;
    text-decoration: none;
}

.contact-button {
    padding: 8px 16px;
    background-color: #12ABAD;
    color: #FEF1F1;
    border-radius: 4px;
    border-style: solid;
    border-color: black;
    
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
}

figure {
    margin-right: 20px;
    flex-shrink: 0;
}

img {
    max-width: 300px;
    border-radius: 8px;
}

h2 {
    font-size: 24px;
    color: #444;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
}



footer {
    background-color: #B2ABAB;
    color: #060A0A;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px 20px;
    text-align: left;
}

.Bold {
    font-weight: bold;
}