* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    font-family: Arial, sans-serif;
    background-color: #FEF1F1;
    margin: 0;
}

#mainmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B2ABAB;
    padding: 20px;
    ;
}

#mainmenu ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

#mainmenu a {
    color:#060A0A;
    text-decoration: none;
}

.contact-button {
    padding: 8px 16px;
    background-color: #12ABAD;
    color: white;
    border-radius: 4px;
    border-style: solid;
    border-color: black;
    
}



#company_intro {
    text-align: center;
    padding: 40px 20px;
    background-color: #FEF1F1;
    margin: 20px auto;
    max-width: 800px;
}


main {
    align-items: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.testimonial {
    display: grid;
    gap: 20px;
    background-color: #FEF1F1;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    align-items: start;
}

.testimonial img {
    width: 150px;
    height: 225px;
    object-fit: cover;
    border-radius: 0;
}

.testimonial p:first-of-type {
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

.testimonial p {
    margin: 0
}

footer {
    margin-top: 5%;
    background-color: #B2ABAB;
    color: #060A0A;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px 20px;
    text-align: left;
}

.Bold{
    font-weight: bold;
}

